.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#root{
  width:1120px;
  margin:auto;
  margin-top:3rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/**
 * Extracted from: SweetAlert
 * Modified by: Istiak Tridip
 */
 .success-checkmark {
  width: 80px;
  height: 115px;
  margin: 0 auto;
}
.success-checkmark .check-icon {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50%;
  box-sizing: content-box;
  border: 4px solid #4CAF50;
}
.success-checkmark .check-icon::before {
  top: 3px;
  left: -2px;
  width: 30px;
  transform-origin: 100% 50%;
  border-radius: 100px 0 0 100px;
}
.success-checkmark .check-icon::after {
  top: 0;
  left: 30px;
  width: 60px;
  transform-origin: 0 50%;
  border-radius: 0 100px 100px 0;
  animation: rotate-circle 4.25s ease-in;
}
.success-checkmark .check-icon::before, .success-checkmark .check-icon::after {
  content: "";
  height: 100px;
  position: absolute;
  background: var(--grey);
  transform: rotate(-45deg);
}
.success-checkmark .check-icon .icon-line {
  height: 5px;
  background-color: #4CAF50;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 10;
}
.success-checkmark .check-icon .icon-line.line-tip {
  top: 46px;
  left: 14px;
  width: 25px;
  transform: rotate(45deg);
  animation: icon-line-tip 0.75s;
}
.success-checkmark .check-icon .icon-line.line-long {
  top: 38px;
  right: 8px;
  width: 47px;
  transform: rotate(-45deg);
  animation: icon-line-long 0.75s;
}
.success-checkmark .check-icon .icon-circle {
  top: -4px;
  left: -4px;
  z-index: 10;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  box-sizing: content-box;
  border: 4px solid rgba(76, 175, 80, 0.5);
}
.success-checkmark .check-icon .icon-fix {
  top: 8px;
  width: 5px;
  left: 26px;
  z-index: 1;
  height: 85px;
  position: absolute;
  transform: rotate(-45deg);
  background-color: var(--grey);
}
.success-checkmark{
  overflow:visible;
}

@keyframes rotate-circle {
  0% {
    transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}
@keyframes icon-line-tip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}
@keyframes icon-line-long {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}
li {
  list-style-type: none;
}
a{
  text-decoration: none;
  color:inherit;
}
nav{
  display:flex;
  width:100%;
  flex-wrap:Wrap;
  color:white;
  font-weight:700;
  font-size:1.9em;
  justify-content: space-between;
  align-items:flex-end;
  box-sizing: border-box;
  padding:0 2em;
  margin-bottom: 2rem;
}

nav li.active{
  color:var(--green);
}

nav li:hover{
  color:var(--green);
}

.grid p {
  color:white;
  font-size:1.17em;
}

.tisk p{
  margin-bottom:1.5em;
}

.row-grid{
  display:grid;
  grid-template-rows: repeat(2, 1fr);
  grid-gap:2.5rem;
}

.reference-card{
  display:grid;
  grid-template-columns: 35% 1fr;
}

.row-grid .reference-card:last-of-type{
  grid-template-columns: 1fr 35%;
}

.reference-card-content{
  background:var(--lightgrey);
  box-sizing: border-box;
  padding:2.5em;
}

.reference-card-content h3{
  letter-spacing: .6em;
  color:white;
  font-weight: 700;
  font-size: 1.9em;
  text-align: center;
}

.grid-small{
  display:flex;
  justify-content: space-between;
  color:white;
  font-size:1.17em;
}

.grid-small ul{
  padding-left:0;
}

.contact-form h1{
  text-align: center;
  color:white;
}

.form{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
}
.form input{
  flex-basis:47%;
  background:var(--lightgrey);
  border:solid 1px white;
  outline:white;
  color:white;
  font-size: 1.17em;
  padding:.5em;
  margin-bottom:1rem;
}

.form input:nth-of-type(3){
  flex-basis: 100%;
}

.form textarea{
  flex-basis: 100%;
  resize: none;
  background:var(--lightgrey);
  border:solid 1px white;
  outline:white;
  color:white;
  font-size: 1.17em;
  padding:.5em;
  margin-bottom:1rem;
  height: 10rem;
}

.form button{
  flex-basis:100%;
  font-size: 1.17em;
  padding:.5em;
  background:var(--green);
  border: solid 1px white;
  cursor:pointer;
}

footer{
  padding:1rem;
}